*.jl.*.cov
*.jl.cov
*.jl.mem
.DS_Store
/api/.decaes
/dev/
/docs/build/
/docs/site/
/bench/main/results*
/bench/main/settings*
Manifest.toml
results
*.log
/bench/cli/results
/bench/cli/settings
/test/interactive/compare/envs
/test/interactive/compare/output
/test/interactive/compare/settings